
.content img {
  margin-left: 2%;
  margin-bottom: 2%;
  float: right;
  position: relative;
  height: 20%;
  width: 20%;
}

.content h5 {
  text-align: left;
  font-family: 'Ruluko';
  font-size: 1.4em;
  line-height: .8;
  color: #d5988d;
  margin-bottom: 2%;
}

h6 {
  font-family: 'Ruluko';
}
.desc {
  margin-bottom:1%;
  font-size:1.2em;
  color:#616d90;
}
p {
  text-align: left;
  font-family: 'Lato';
  color: #5c5c5c;
  line-height: 1.5;
  letter-spacing: .1px;
}
a {
  font-weight: 200;
  display: inline;
  font-size: 1.05em;
  color: #616d90;
  text-decoration: none !important;
}
.work {
  float: left;
  margin-bottom: 2%;
  font-family: 'Ruluko';
}
.contact {
  float: right;
  font-family: 'Ruluko';
  font-size: 1.05em;
  margin-bottom: 3%;
}
a:hover{
  color: #d5988d;
  text-decoration: none !important;
}
@media screen and (max-width: 768px) {
  .whole {
    margin: 0%;
  }
  .content img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    height: 30%;
    width: 30%;
  }
  .content h5 {
    text-align: center;
    line-height: 1;
  }
  h6 {
    text-align: center;
  }
  p {
    line-height: 1.3;
  }
  .contact {
    margin-bottom: 5%;
  }
}