.top-img {
  display: block;
  margin: auto;
  height: 40%;
  width: 40%;
}

.position {
  font-family: 'Ruluko';
  text-align: center;
}

h6 {
  font-family: 'Ruluko';
  color: #616d90;
  font-size: 1.4em;
  margin-top:5%;
  margin-bottom: 2%;
}
p {
  /*font-family: 'Merriweather';
  color: #5c5c5c;
  font-weight: 50;
  line-height: 1.7;
  font-size: .9em;
  letter-spacing: .4px;*/

  font-family: 'Montserrat';
  color: #5c5c5c;
  line-height: 1.5;
  letter-spacing: .2px;
}
.bullets li {
  list-style-type: circle;
  font-family: 'Montserrat';
  color: #5c5c5c;
  line-height: 1.5;
  letter-spacing: .2px;
}

.img-cent {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: auto;
}

.a1 {
  margin-left: 2%;
  margin-bottom: 2%;
  float: right;
  width: 40%;
  height: auto;
}
.a4 {
  width: 40%;
  height: auto;
}

.content a {
  color: #616d90;
  text-decoration: underline;
}


.a5 {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 4%;
}

.a6 {
  float: right;
  display: inline;
  margin-left: 2%;
  margin-bottom: 2%;
}

.bot-hr {
  margin-top: 5%;
  margin-bottom: 5%;
}

.extra {
  margin-top: 5%;
  margin-bottom: 5%;
}

.extra img {
    width: 9vw;
    height: 9vw;
    display: block;
    margin: auto;
    margin-bottom: 10%;
}

.extra a {
    text-align: center;
    font-family: 'Montserrat';
    color: #5c5c5c;
    text-decoration: none;
}

.extra a:hover {
    color: #616d90;
    text-decoration: underline;
}

.back {
  text-decoration: none !important;
  font-family: Ruluko;
  font-size: 1.2em;
}

#top {
  float: right;
}

.back:hover {
  text-decoration: underline !important;
}

@media screen and (max-width: 786px) {
  .extra img {
    width: 30vw;
    height: 30vw;
    display: block;
    margin: auto;
    margin-bottom: 4%;
  }
  .extra .col-sm {
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .content img {
    margin-bottom: 4%;
  }
  .img-cent {
    width: 100%;
    height: auto;
  }

  .a1 {
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    margin-left: 4%;
  }

}