
.content {
    margin-left: 20%;
    margin-right: 20%;
}
.top-img {
  display: block;
  margin: auto;
  height: 40%;
  width: 40%;
}

.position {
  font-family: 'Ruluko';
  text-align: center;
}

h6 {
  font-family: 'Ruluko';
}
p {
  font-family: 'Montserrat'
}

a :hover {
    text-decoration: underline;
    color: #616D90;
}

@media screen and (max-width: 786px) {


}