@font-face {
  font-family: Calibril;
  src: url(../fonts/Calibril.ttf);
}

.content {
    padding-top: 3%;
    margin-left: 37%;
    margin-right: 30%;
}

h4 {
    margin-top: 5%;
    text-align: left;
    font-family: Calibril;
}

.content a {
    color: black;
}
.content a:hover {
    text-decoration: underline;
    color: #616d90;
}

.content img {
    width: 75px;
    height: 75px;
    margin-right: 5%;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
.content {
  margin-left: 20%;
}


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {



}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {



}





