
.content a {
    font-family: 'Ruluko';
    text-align: center;
    color: #5c5c5c;
    letter-spacing: .5px;
}

.content a:hover {
    text-decoration: underline;
    color: #616d90;
}

.content img {
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
    margin-top: 10%;
    margin-bottom: 5%;
}
.row {
    margin-bottom: 2%;
}

@media screen and (max-width: 768px) {
    .content img {
        width: 90px;
        height: 90px;
    }
    .row {
        margin-bottom: 0%;
    }
}






