
h5 {
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
    color: #5c5c5c;
    letter-spacing: -.7px;
}

.content a {
    color: black;
}
.content a:hover {
    text-decoration: underline;
    color: #616d90;
}

.content img {
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
    margin-bottom: 3%;
    margin-top: 8%;
}



@media screen and (min-width: 992px) {
    .container-fluid {
        padding-top: 2%;
        padding-left: 25%;
        padding-right: 25%;
    }
}
@media screen and (max-width: 768px) {
    .content img {
        width: 90px;
        height: 90px;
    }
}






