@font-face {
  font-family: Ruluko;
  src: url(../fonts/Ruluko-regular.ttf);
}

@font-face {
  font-family: Cabrilil;
  src: url(../fonts/Cabrilil.ttf);
}

body {
  background-color: #fdfdfd;
}

.header-img {
  width: 90px;
  height: 90px;
  margin-left: 5%;
  margin-top: 10px;
  position: absolute;
}

.menu-icon{
  display: none;
  display: inline;
  float: right;
  position: relative;
}
.name-title {
  margin-top: 40px;
  font-family: 'Ruluko', sans-serif;
  font-weight: 600;
  font-size: 58px;
  position: relative;
  text-align: center;
}

.job-title {
  margin-top: 1.2%;
  margin-bottom: 1.4%;
  text-align: center;
  font-family: 'Ruluko', sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.job-title2 {
  font-family: 'Ruluko', sans-serif;
  display: none;
}

.bar-title {
  border-color: #700000;
  border-width: 4px;
  width: 60%;
}


.top-nav {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Ruluko', sans-serif;
    list-style-type: none;
    overflow: hidden;
}

.top-nav a {
    padding-left: 25px;
    padding-right: 25px;
    display: inline;
    text-decoration: none;
    font-size: 35px;
    color: black;
}



.top-nav a:hover {
    /*text-transform: uppercase;
    text-shadow: 2px 2px #616D90;*/
    text-decoration: underline;
    /*border-bottom: 1px solid;
    padding-bottom: 5px;
    display: inline;
    border-bottom-width: 5px;*/
    color: #616D90;
}


/* FOOTER CSS */
.bar-footer {
  border-color: #616D90;
  border-width: 4px;
  margin-top: 2%;
  width: 60%;
}

.footer {
  text-align: center;
  margin-top: 1%;
}
.footer img {
  padding-right: 2%;
  padding-left: 2%;
}

.footer-icon {
  display: none;
}


@media screen and (max-width: 768px) {
  .top-nav {
    display: none;
  }
  .header-img {
    display: none;
  }
  .bar-title {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .name-title {
    font-size: 35px;
    text-align: left;
  }
  .menu-icon {
    display: inline !important;

  }
  .job-title {
    display: none;
  }
  .title {
    padding-right: 7%;
    padding-left: 7%;
  }
  .content img {
    margin: 20%;
    margin-top: 0%;
  }
  .job-title2 {
    display: block !important;
    font-size: 25px;
    margin-bottom: 0%;
    text-align: left;
  }

  .footer-icon {
    display: inline;
    width: 58px;
    height: 43px;
  }
}








