
body {
}

.header-img {
  width: 7vw;
  height: 7vw;
  margin-left: 5%;
  margin-top: 10px;
  position: absolute;
}

.name-title {
  margin-top: 40px;
  font-family: 'Ruluko', sans-serif;
  font-weight: 600;
  font-size: 5vw;
  position: relative;
  text-align: center;
}

.navbar-brand {
  font-family: 'Ruluko';
  font-size: 11.3vw;
  text-align: left;
  margin-top: 2%;
}

.job-title {
  margin-top: 1.2%;
  margin-bottom: 1.4%;
  text-align: center;
  font-family: 'Ruluko', sans-serif;
  font-weight: 400;
  font-size: 1.6vw;
}

.job-title2 {
  font-family: 'Ruluko', sans-serif;
  font-size: 4vw;
  display: none;
}

.bar-title {
  border-color: #700000;
  border-width: 4px;
  width: 70%;
}

.navbar {
  margin-left: -5%;
}

.navbar-nav {
  background-color: white;
  margin-top: -3% !important;
  margin-bottom: -7%;
  padding: 0px;
}

.nav-item a {
  font-family: 'Ruluko';
  font-size: 6vw;
  color: #a1a1a1;
}

.navbar-toggler {
  border: none;
  margin-top: 7%;
  margin-bottom: 0%;
  float: right;
}

.navbar {
  display: none;
}

.fa-ellipsis-v {
  color: #a1a1a1;
}


/* DESKTOP */
.top-nav {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Ruluko', sans-serif;
}

.top-nav a {
    padding-left: 45px;
    padding-right: 45px;
    display: inline;
    text-decoration: none;
    font-size: 1.8vw;
    color: black;
}

.top-nav a:hover {
    text-decoration: underline;
    color: #616D90;
}


/* FOOTER CSS */
.bar-footer {
  border-color: #616D90;
  border-width: 4px;
  margin-top: 2%;
  width: 60%;
}

.footer {
  text-align: center;
  margin-bottom: 1%;
}
.footer img {
  padding-right: 2%;
  padding-left: 2%;
  width: 60px;
  height: 45px;
}

.footer i {
  margin-left: 2%;
  margin-right: 2%;
}

.fa-linkedin {
  vertical-align: bottom;
  color: #a1a1a1;
}
.fa-file {
  vertical-align: bottom;
  color: #a1a1a1;
}

.footer-icon {
  display: none;
}


@media screen and (max-width: 786px) {
  .header-img {
    display: none;
  }

  .top-icons {
    margin-bottom: %;
    padding-bottom: 0%;
    padding-right: 7%;
    padding-left: 7%;    
  }


  .name-title {
    display: none;
  }

  .bar-title {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 5%;
  }

  .title {
    padding-right: 7%;
    padding-left: 7%;
  }

  .job-title {
    display: none;
  }
  
  .content img {
    margin: 20%;
    margin-top: 0%;
  }

  .job-title2 {
    display: block !important;
    font-size: 5.7vw;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
  }

  .navbar {
    display: inline;
  }

  .top-nav {
    display: none;
  }

  .footer-icon {
    display: inline;
    width: 100px;
  }
}








