/* GLOBAL CSS INCLUDES HEADER & FOOTER FOR EVERY PAGE*/

.content {
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 2%;
}
.name-title {
  margin-top: 30px;
  font-family: 'Ruluko', sans-serif;
  position: relative;
  text-align: center;
  color: #7c7c7c;
}
.navbar-brand {
  font-family: 'Ruluko';
  font-size: 10vw;
  text-align: left;
  margin-top: 2%;
  color: #6c6c6c;
  position: relative;
}
.job-title {
  font-family: 'Ruluko', sans-serif;
  margin-top: 1.2%;
  margin-bottom: 1.4%;
  text-align: center;
  color: #616d90;
}
.bar-title {
  border: ;
  height: 1px;
  width: 66%;
  color: #a1a1a1;
}
.navbar {
  margin-left: -5%;
  display: none;
}

.navbar-nav {
  background-color: white;
  margin-top: -3% !important;
  margin-bottom: -7%;
  padding: 0px;
}
.nav-link {
  font-family: 'Ruluko';
  font-size: 6vw;
  color: #5c5c5c;
}
.navbar-toggler {
  border: none;
  outline: none !important;
  margin-top: 7%;
  margin-bottom: 10%;
  float: right;
}
.fa-ellipsis-v {
  color: #7c7c7c;
}

/* !!!!! DESKTOP !!!!! */
.top-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-left: 17%;
  margin-right: 17%;
  padding-top: .7%;
  padding-bottom: .7%;
  font-family: 'Ruluko', sans-serif;
  background-color: #fff;
  text-align: center;
  z-index: 100;
}

.top-nav a {
  padding-left: 20px;
  padding-right: 20px;
  display: inline;
  text-decoration: none;
  font-size: 1.2em;
  color: #a1a1a1;
}

.top-nav a:hover {
  text-decoration: none;
  color: #d5988d;
}


/* FOOTER CSS */
.bar-footer {
  border: 1;
  height: 1px;
  width: 66%;
  color: #a1a1a1;
  margin-top: 0%;
}

.footer {
  margin-left: 17%;
  margin-right: 17%;
  text-align: center;
}
.footer-icon {
  padding-right: 3%;
  padding-left: 3%;
  margin-right: 1%;
  margin-left: 1%;
}

.footer i {
  margin-left: 2%;
  margin-right: 2%;
}
.fa-linkedin {
  vertical-align: middle;
  color: #a1a1a1;
}
.fa-file-text-o {
  vertical-align: middle;
  color: #a1a1a1;
}

.copyright p {
  text-align: center;
  font-family: 'Lato';
  font-size: .8em;
  color: #5c5c5c;
  margin-top: .5%;
  margin-bottom: 3%;
  margin-left: 17%;
  margin-right: 17%;
}


@media screen and (max-width: 700px) {
  .content {
    margin-right: 7%;
    margin-left: 7%;
  }
  .footer {
    margin-right: 7%;
    margin-left: 7%;
  }
  .header-img {
    display: none;
  }
  .nav-link {
    background-color: white;
  }

  .top-icons {
    max-height: 197px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 1px;
  }

  .navbar-nav {
    background-color: white;
  }

  .name-title {
    display: none;
  }

  .bar-title {
    width: 100%;
    margin-bottom: 5%;
  }

  .title {
    padding-right: 7%;
    padding-left: 7%;
  }

  .job-title {
    text-align: left;
  }

  .navbar {
    display: inline;
  }

  .top-nav {
    display: none;
  }

  .bar-footer{
    width: 90%;
    margin-bottom: 4%;
  }
}




