.top-img img{
  display: block;
  margin: auto;
  padding: 0% 8% 8% 8%;
  width: 100%;
  height: auto;
}
.top-img img:hover {
  box-shadow: 2px 2px 2px #a1a1a1;
}
.position {
  margin-top: 0%;
  text-align: center;
  font-family: 'Ruluko';
  color: #616d90;
}
.position h4 {
  font-size: 1.2em;
}
.img-cent {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: auto;
}
.img-cent:hover {
  box-shadow: 2px 2px 2px #a1a1a1;
}
.col-sm img {
  display: block;
  margin: auto;
  width: 95%;
  height: auto;
  margin-top: 3%;
  margin-bottom: 5%;
}
.i12 {
  margin-left: 2%;
  margin-bottom: 2%;
  float: right;
  width: 30%;
  height: auto;
}
.i16 {
  width: 100%;
  display: block;
  margin: auto;
}

.i17 {
  width: 30%;
  height: auto;
  float: left;
  margin-right: 2%;
  margin-top: 1%;
}
.mob {
  border: 1px solid #a1a1a1;
}
h5 {
  font-family: 'Lato';
  letter-spacing: .2px;
}
h6 {
  font-family: 'Ruluko';
  color: #616d90;
  font-size: 1.4em;
  margin-top: 4%;
  margin-bottom: 2%;
}
p {
  font-family: 'Lato';
  color: #5c5c5c;
  line-height: 1.5;
  letter-spacing: .1px;
}
.bullets li {
  list-style-type: circle;
  font-family: 'Lato';
  color: #5c5c5c;
  line-height: 1.5;
  letter-spacing: .2px;
}
.content a {
  color: #616d90;
  text-decoration: underline;
}
.bot-hr {
  margin-top: 5%;
  margin-bottom: 5%;
  border-top: 1px solid #gray;
  text-align: center;
}
.bot-hr:after{
  content: '\2756'; //00A7, 221E, 223E, \22B0 \22B1
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #ffffff;
  color: #a1a1a1;
  font-size: 1em;
}
.extra {
  margin-top: 5%;
  margin-bottom: 5%;
}
.extra img {
  width: 9vw;
  height: 9vw;
  display: block;
  margin: auto;
  margin-bottom: 7%;
}
.extra a {
  text-align: center;
  font-family: 'Montserrat';
  color: #5c5c5c;
  text-decoration: none;
}
.extra img:hover {
  background-color: #ffffff;
  opacity: .5;
  transition: .2s;
}
.back {
  text-decoration: none !important;
  font-family: Ruluko;
  font-size: 1.2em;
}

.back:hover {
  text-decoration: underline !important;
}

@media screen and (max-width: 786px) {
  .position {
    margin-top: 0%;
  }
  .extra img {
    width: 20vw;
    height: 20vw;
    display: block;
    margin: auto;
  }
  .extra .col-sm {
    margin-top: 6%;
  }
  .content img {
    margin-bottom: 4%;
  }
  .img-cent {
    width: 100%;
    height: auto;
  }
  .i12 {
    display: block;
    margin: auto;
    float: none;
    width: 95%;
    height: auto;
  }
  .i17 {
    width: 50%;
    height: auto;
  }
}