.top-img img{
  display: block;
  margin: auto;
  width: 90%;
  height: auto;
}
.top-img img:hover {
  box-shadow: 2px 2px 2px #a1a1a1;
}
.position {
  margin-top: 0%;
  text-align: center;
  font-family: 'Ruluko';
  color: #616d90;
}
.position h4 {
  font-size: 1.2em;
}
h5 {
  font-family: 'Lato';
  letter-spacing: .2px;
}
h6 {
  font-family: 'Ruluko';
  color: #616d90;
  font-size: 1.4em;
  margin-top:5%;
  margin-bottom: 2%;
}
p {
  font-family: 'Lato';
  color: #5c5c5c;
  line-height: 1.5;
  letter-spacing: .1px;
}
.bullets li {
  list-style-type: circle;
  font-family: 'Lato';
  color: #5c5c5c;
  line-height: 1.5;
  letter-spacing: .2px;
}

.content a {
  color: #616d90;
  text-decoration: underline;
}

.bot-hr {
  margin-top: 5%;
  margin-bottom: 5%;
  border-top: 1px solid #gray;
  text-align: center;
}
.bot-hr:after{
  content: '\223e'; //00A7, 221E, 223E, \22B0 \22B1
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #ffffff;
  color: #a1a1a1;
  font-size: 1em;
}

.extra {
  margin-top: 5%;
  margin-bottom: 5%;
}

.extra img {
    width: 9vw;
    height: 9vw;
    display: block;
    margin: auto;
    margin-bottom: 2%;
}

.extra a {
    text-align: center;
    font-family: 'Montserrat';
    color: #5c5c5c;
    text-decoration: none;
}

.extra a:hover {
    color: #616d90;
    text-decoration: underline;
}

.back {
  text-decoration: none !important;
  font-family: Ruluko;
  font-size: 1.2em;
}

.back:hover {
  text-decoration: underline !important;
}

@media screen and (max-width: 786px) {
  .position {
    margin-top: 0%;
  }
  .extra img {
    width: 20vw;
    height: 20vw;
    display: block;
    margin: auto;
  }
  .extra .col-sm {
    margin-top: 6%;
  }
  .content img {
    margin-bottom: 4%;
  }
  .img-cent {
    width: 100%;
    height: auto;
  }
  .a1 {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    margin-left: 4%;
  }
}