

.content {
    margin-top: %;
    margin-left: 20%;
    margin-right: 20%;
}

.content img {
  margin-left: 2%;
  margin-bottom: 2%;
  float: right;
  position: relative;
  height: 12vw;
  width: 12vw;
}

h5 {
  text-align: left;
  font-family: 'Ruluko';
  font-size: 1.4em;
  line-height: .8;
  color: #700000;
}
p {
  text-align: left;
  font-family: 'Montserrat';
  color: #5c5c5c;
  line-height: 1.5;
  font-size: 1.1em;
}



@media screen and (max-width: 768px) {
  .whole {
    margin: 0%;
  }
  .content img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    height: 110px;
    width: 110px;
  }
  .content {
    margin-right: 7%;
    margin-left: 7%;
  }
  h5 {
    text-align: center;
    line-height: 1;
  }
  p {
    line-height: 1.3;
  }
}