@font-face {
  font-family: Ruluko;
  src: url(../fonts/Ruluko-Regular.ttf);
}

@font-face {
  font-family: Calibril;
  src: url(../fonts/Calibril.ttf);
}


.content {
    margin-top: 3.5%;
    margin-left: 15%;
    margin-right: 15%;
}

.content img {

  margin-left: 2%;
  margin-bottom: 2%;
  float: right;
  position: relative;
}

h4 {
    text-align: left;
    font-family: 'Calibril';
    line-height: 1.2em;
    font-size: 2.5vw;
}



@media screen and (max-width: 768px) {

  .content img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 10%;
  }
  .content {
    margin-right: 7%;
    margin-left: 7%;
  }
  h4 {
    font-size: 27px;
  }
}