.content img {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 5%;
}

.col-sm {
    margin-bottom: 5%;
}
.content {
  margin-bottom: -4%;
}

.content h5 {
  text-align: center;
  font-family: 'Lato';
  color: #5c5c5c;
  letter-spacing: .1px;
  text-decoration: none !important;
}

.content a {
  text-decoration: none;
}

.hover {
  padding-top: 2%;
}
.hover:hover {
  background-color: #ffffff;
  opacity: .75;
  transition: .1s;
  border: 1px dotted #d5988d;
}

@media screen and (max-width: 786px) {
  .content img {
    display: block;
    margin: auto;
    margin-bottom: 4%;
}
  .col-sm {
  }

}