.content {
  margin-top: 5%;
}

.content img {
    width: 11vw;
    height: 11vw;
    display: block;
    margin: auto;
    margin-bottom: 10%;
}

.content a {
    text-align: center;
    font-family: 'Montserrat';
    color: #5c5c5c;
}

.content a:hover {
    color: #616d90;
    text-decoration: underline;
}

@media screen and (max-width: 786px) {
  .content img {
      width: 30vw;
      height: 30vw;
      display: block;
      margin: auto;
      margin-bottom: 4%;
  }
  .col-sm {
    margin-bottom: 5%;
    margin-top: 5%;
  }

}