

.container-fluid {
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
}

.container-fluid img {
    width: 11vw;
    height: 11vw;
    display: block;
    margin: auto;
    margin-bottom: 10%;
}

h5 {
    text-align: center;
    font-family: 'Montserrat';
    color: #5c5c5c;
}

.container-fluid a :hover {
    color: #616D90;
    text-decoration: underline;
}

@media screen and (max-width: 786px) {
  .container-fluid img {
      width: 30vw;
      height: 30vw;
      display: block;
      margin: auto;
      margin-bottom: 4%;
  }
  .col-sm {
    margin-bottom: 5%;
    margin-top: 5%;
  }

}