
@font-face {
  font-family: Ruluko;
  src: url(../fonts/Ruluko-Regular.ttf);
}

@font-face {
  font-family: Calibril;
  src: url(../fonts/Calibril.ttf);
}

.container-fluid {
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
}

.container-fluid img {
    width: 170px;
    height: 170px;
    margin-left: 18%;
    margin-right: 15%;
}

h3 {
    text-align: center;
    font-family: Calibril; 
}